*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: aqua;
}
.navbar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    list-style: none;
    padding: 20px 0px;
}
.navbar li a{
    text-decoration: none;
    font-size: 20px;
    color: black;
}